@import "tailwindcss";

/* Minimal global resets only */
html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
