@import "tailwindcss";

/* Minimal global resets only */
html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes collapseLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.name-reveal-bg {
  height: 60%;
  top: 20%;
  animation:
    slideIn 0.9s ease-out forwards,
    collapseLeft 0.9s ease-in-out 0.9s forwards;
}
